/**

*@description: main css
*/
/* global
--------------------------------------------------- */

body {
    font-size:13px;
    font-family: arial;
    color: #cdcdcd;
    display: float;
}
a {
    text-decoration: none;
}

/* layout
--------------------------------------------------- */

.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.header {
    background: red;
    color: white;
    height: 50px;
}
.header a {
    color: white;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.hor {
    display:inline-block;
}

 /* main
 -------------------------------------------------------- */
 .main .container {
     display: flex;
     border-left: 1px solid #ebebeb;
     border-right: 1px solid #ebebeb;
 }
 .main aside {
     width: 20%;
 }
 .main aside a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}
 .main section {
     width: 80%;
     padding: 20px;
 }
.card {
    display: flex;
}
.card figure {
width: 50%;
}

.card image {
width:100%;
}

.card div
 {
     padding: 15px;
 }
